{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Nombre del tablero xd</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa eaque quam voluptas, facilis ipsa labore ut inventore,
            aspernatur nam accusamus reiciendis velit? Laudantium tempora ad facilis alias delectus at. Aspernatur voluptates impedit maiores doloremque aliquid, libero quisquam excepturi facere fugit dolorem sunt nostrum quibusdam accusantium saepe iure. Nobis obcaecati quo rem, eos repudiandae delectus rerum fugit iure id dolorum, saepe unde sint hic fuga accusamus totam sit dolorem error non! Ducimus veritatis minus vitae nostrum modi nobis atque corrupti ex culpa obcaecati delectus nihil cumque porro dolorum veniam ea quibusdam, ab nesciunt dicta incidunt numquam voluptatum ad adipisci. Illum, perspiciatis.</p>
    </section>
    
</main>
{% endblock %}