<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Nota</title>
</head>
<body>
    <h1>Detalle de Nota</h1>
    <p><strong>Titulo:</strong> {{ nota.titulo }}</p>
    <p><strong>Contenido:</strong> {{ nota.contenido }}</p>
    <p><strong>Color:</strong> {{ nota.color }}</p>
    <p><strong>Autor:</strong> {{ nota.autor }}</p>
    <p><strong>Fecha de modificación:</strong> {{ nota.fecha_modificacion }}</p>

    <!--Regresar al tablero -->
    <a href="{% url 'tablero:index' %}">Regresar al tablero</a>

    <!-- Botón para editar la nota -->
    <a href="/notas/{{ nota.id }}/editar/">Editar</a>
</body>
</html> 