<!DOCTYPE html>
<html>
<head>
    <title>Editar Nota</title>
</head>

<body>
    <h1>Editar Nota</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="titulo">Titulo:</label> <input type="text" name="titulo" id="titulo" value="{{ nota.titulo }}"></p>
        <p><label for="contenido">Contenido:</label> <textarea name="contenido" id="contenido">{{ nota.contenido }}</textarea></p>
        <p><label for="color">Color:</label> <input type="color" name="color" id="color" value="{{ nota.color }}"></p>
        <p><label for="autor">Autor:</label> <input type="text" name="autor" id="autor" value="{{ nota.autor }}"></p>
        <p><input type="submit" value="Guardar"></p>
    </form>

    <!-- Botón para regresar a la lista de notas -->
    <a href="/notas/">Regresar a la lista de notas</a>
</body>
</html>